{% extends 'base.html.twig' %}

{% block title %}Products - PHP Website{% endblock %}

{% block content %}
<h1>Product Page</h1>
<p>Here is the product page with a private list of products.</p>
{% endblock %}
